<% @post.tags.build %> <!-- It makes sure there is a new tag ready to have its name filled by the user -->
<%= form_for(@post) do |post_form| %> <!-- Creates HTML form. Sets the appropriate action.-->
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= post_form.label :name %><br />
    <%= post_form.text_field :name %> #Tell rails to create a text input for the form and hook up the name attribute of the object.
  </div>
  <div class="field">
    <%= post_form.label :title %><br />
    <%= post_form.text_field :title %>
  </div>
  <div class="field">
    <%= post_form.label :content %><br />
    <%= post_form.text_area :content %>
  </div>
  <div class="actions">
    <%= post_form.submit %>
  </div>

    <h2>Tags</h2>
    <%= render :partial => 'tags/form',
                :locals =>{:form =>post_form}
    %>

<% end %>
